header {
    margin-top: 30px;

}
.titre-nul{
    border-left: 3px solid #CF0A2C !important;
    padding-left: 0.5rem;
}

.pageActualite{
    padding-bottom: 3rem;;
}
footer {

    padding-top: 40px;
    padding-bottom: 50px;
    text-decoration-color: white;
    background-color: #CF0A2C !important;
}